<!DOCTYPE html>
<html>
  <head>
    <title>{{ constant('SITE_TITLE') }} Lobby</title>
    <!-- IMPORTANT. This forces BYOND to use Edge. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" href="{{ constant('WEB_ROOT') }}/style.php/lobby.scss" />
		<link rel="stylesheet" href="{{ constant('WEB_ROOT') }}/css/lib/jquery-ui.min.css" />
		<script src="{{ constant('WEB_ROOT') }}/js/lib/Array.polyfill.js" type="text/javascript"></script>
		<script src="{{ constant('WEB_ROOT') }}/js/lib/String.polyfill.js" type="text/javascript"></script>
		<script src="{{ constant('WEB_ROOT') }}/js/lib/URLSearchParams.polyfill.js" type="text/javascript"></script>
		<script src="{{ constant('WEB_ROOT') }}/js/lib/jquery.min.js" type="text/javascript"></script>
		<script src="{{ constant('WEB_ROOT') }}/js/lib/jquery-ui.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			/* GLOBAL SETTINGS */
			{% for k, v in js_vars %}
			var {{ k }} = {{ v|json_encode|raw }};
			{% endfor %}
		</script>
    <style type="text/css">
    /* Override whatever the fuck is set in the stylesheet. */
    /*body { background-image: url('{{ IMAGE }}'); }*/
    </style>
		{% for script in scripts %}
		<script src="{{ constant('WEB_ROOT') }}/{{ asset(script) }}" type="text/javascript"></script>
		{% endfor %}
  </head>
  <body>
    <h2>{{UA}}</h2>
  </body>
</html>
