<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>{{ constant('SITE_TITLE') }} Lobby</title>
    <!-- IMPORTANT. This forces BYOND to use Edge. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" href="{{ constant('WEB_ROOT') }}/style.php/lobby.scss" />
		<link rel="stylesheet" href="{{ constant('WEB_ROOT') }}/css/lib/jquery-ui.min.css" />
		<script src="{{ constant('WEB_ROOT') }}/js/lib/Array.polyfill.js" type="text/javascript"></script>
		<script src="{{ constant('WEB_ROOT') }}/js/lib/String.polyfill.js" type="text/javascript"></script>
		<script src="{{ constant('WEB_ROOT') }}/js/lib/URLSearchParams.polyfill.js" type="text/javascript"></script>
		<script src="{{ constant('WEB_ROOT') }}/js/lib/jquery.min.js" type="text/javascript"></script>
		<script src="{{ constant('WEB_ROOT') }}/js/lib/jquery-ui.min.js" type="text/javascript"></script>
		{% if js_vars|length > 0 %}
		<script type="text/javascript">
			/* GLOBAL SETTINGS */
			var {% for k, v in js_vars -%}
			{{ k }}={{ v|json_encode|raw }}
			{%-   if not loop.last -%}
			,
			{%-   endif -%}
			{%- endfor -%};
		</script>
		{% endif %}
		{% for script in scripts %}
		<script src="{{ constant('WEB_ROOT') }}/{{ asset(script) }}" type="text/javascript"></script>
		{% endfor %}
		{{ head|raw }}
  </head>
  <body>
    <div id="dlgTinkerMenu" title="Admin Menu">
      {{- include('ingame/lobby/tinkermenu.twig') -}}
    </div>
  </body>
</html>
